/* En caso de haber borraro la base de datos
CREATE DATABASE [unidad_territorial];
GO
*/
USE [unidad_territorial]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](120) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Tipo_Usuario] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Ultimo_Login] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[ID_Usuario] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UsuarioConRoles]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_UsuarioConRoles] AS
SELECT 
  u.ID_Usuario,
  u.Nombre_Usuario,
  u.Correo,
  COALESCE(STRING_AGG(r.Nombre_Rol, ', '), 'Sin rol') AS Roles_Asignados,
  CASE 
    WHEN COUNT(DISTINCT r.ID_Rol) >= 2 THEN N'MULTI'
    WHEN COUNT(DISTINCT r.ID_Rol) = 1 THEN MIN(r.Nombre_Rol)
    ELSE N'Sin rol'
  END AS Tipo_Usuario_Derivado
FROM dbo.USUARIO u
LEFT JOIN dbo.USUARIO_ROL ur ON ur.ID_Usuario = u.ID_Usuario
LEFT JOIN dbo.ROL r          ON r.ID_Rol     = ur.ID_Rol
GROUP BY u.ID_Usuario, u.Nombre_Usuario, u.Correo;
GO
/****** Object:  Table [dbo].[NOTICIA]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICIA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[subtitulo] [nvarchar](250) NULL,
	[slug] [nvarchar](220) NOT NULL,
	[resumen] [nvarchar](800) NULL,
	[cuerpo_html] [nvarchar](max) NOT NULL,
	[imagen_principal] [nvarchar](400) NOT NULL,
	[imagen_sec_1] [nvarchar](400) NULL,
	[imagen_sec_2] [nvarchar](400) NULL,
	[estado] [tinyint] NOT NULL,
	[publish_at] [datetime2](0) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_NoticiasPublicadas]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Actualizar la Vista de noticias publicadas
CREATE VIEW [dbo].[vw_NoticiasPublicadas]
AS
SELECT 
    id, 
    titulo, 
    subtitulo, 
    slug,
    resumen,
    cuerpo_html,
    imagen_principal,
    imagen_sec_1,
    imagen_sec_2,
    estado,
    publish_at,
    created_at,
    updated_at,
    tipo  -- <-- Columna añadida
FROM 
    dbo.NOTICIA
WHERE 
    estado = 1 AND publish_at <= SYSDATETIME();
GO
/****** Object:  View [dbo].[vw_NoticiasHistorial]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Actualizar la Vista del historial de noticias
CREATE VIEW [dbo].[vw_NoticiasHistorial]
AS
SELECT 
    id, 
    titulo, 
    subtitulo, 
    slug,
    resumen,
    cuerpo_html,
    imagen_principal,
    imagen_sec_1,
    imagen_sec_2,
    estado,
    publish_at,
    created_at,
    updated_at,
    tipo  -- <-- Columna añadida
FROM 
    dbo.NOTICIA;
GO
/****** Object:  Table [dbo].[CERTIFICADO_RESIDENCIA]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERTIFICADO_RESIDENCIA](
	[ID_Cert] [int] IDENTITY(1,1) NOT NULL,
	[Folio]  AS ('C-'+right(replicate('0',(5))+CONVERT([varchar](10),[ID_Cert]),(5))) PERSISTED,
	[ID_Socio] [int] NULL,
	[ID_Usuario_Solicita] [int] NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[RUT] [varchar](12) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](160) NOT NULL,
	[Metodo_Pago] [varchar](20) NOT NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
	[Estado] [varchar](12) NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[Fecha_Solicitud] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTIVA]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTIVA](
	[ID_Directiva] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Cargo] [nvarchar](40) NOT NULL,
	[Descripcion] [nvarchar](180) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Fin] [date] NULL,
	[Activo]  AS (case when [Fecha_Fin] IS NULL OR [Fecha_Fin]>=CONVERT([date],getdate()) then (1) else (0) end),
PRIMARY KEY CLUSTERED 
(
	[ID_Directiva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_CERTIFICADO]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_CERTIFICADO](
	[ID_Hist] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cert] [int] NULL,
	[Estado] [varchar](12) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[Validador_FK] [int] NULL,
	[Fecha_Cambio] [datetime2](0) NOT NULL,
	[Folio] [varchar](20) NULL,
	[Nombre] [nvarchar](120) NULL,
	[RUT] [varchar](12) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Email] [nvarchar](160) NULL,
	[Metodo_Pago] [varchar](20) NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Hist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[ID_Socio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[RUT] [nvarchar](20) NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Calle] [nvarchar](120) NULL,
	[Numero_Casa] [nvarchar](20) NULL,
	[Correo] [nvarchar](120) NULL,
	[Telefono] [nvarchar](30) NULL,
	[Fecha_Inscripcion] [datetime2](7) NULL,
	[Estado_Inscripcion] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CERTIFICADO_RESIDENCIA] ON 

INSERT [dbo].[CERTIFICADO_RESIDENCIA] ([ID_Cert], [ID_Socio], [ID_Usuario_Solicita], [Nombre], [RUT], [Direccion], [Email], [Metodo_Pago], [Comprobante_URL], [Estado], [Notas], [Fecha_Solicitud]) VALUES (9, NULL, NULL, N'prueba2', N'18.591.409-7', N'no se', N'sij@a', N'Fisico', NULL, N'Pendiente', N'Solicitud web (socio)', CAST(N'2025-10-27T22:48:14.0000000' AS DateTime2))
INSERT [dbo].[CERTIFICADO_RESIDENCIA] ([ID_Cert], [ID_Socio], [ID_Usuario_Solicita], [Nombre], [RUT], [Direccion], [Email], [Metodo_Pago], [Comprobante_URL], [Estado], [Notas], [Fecha_Solicitud]) VALUES (11, NULL, NULL, N'prueba6', N'18.591.409-7', N'18281721', N'asfa', N'Fisico', NULL, N'Pendiente', N'Solicitud web (socio)', CAST(N'2025-10-28T16:58:21.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CERTIFICADO_RESIDENCIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DIRECTIVA] ON 

INSERT [dbo].[DIRECTIVA] ([ID_Directiva], [ID_Usuario], [Cargo], [Descripcion], [Fecha_Inicio], [Fecha_Fin]) VALUES (1, 2, N'Tesorera', N'Encargada de la administración de fondos.', CAST(N'2025-10-24' AS Date), NULL)
INSERT [dbo].[DIRECTIVA] ([ID_Directiva], [ID_Usuario], [Cargo], [Descripcion], [Fecha_Inicio], [Fecha_Fin]) VALUES (2, 3, N'Secretario', N'Encargado de las actas de reunión.', CAST(N'2025-11-07' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[DIRECTIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORIAL_CERTIFICADO] ON 

INSERT [dbo].[HISTORIAL_CERTIFICADO] ([ID_Hist], [ID_Cert], [Estado], [Comentario], [Validador_FK], [Fecha_Cambio], [Folio], [Nombre], [RUT], [Direccion], [Email], [Metodo_Pago], [Comprobante_URL]) VALUES (7, NULL, N'Aprobado', N'Aprobado', NULL, CAST(N'2025-10-27T20:32:28.0000000' AS DateTime2), N'C-00007', N'prueba3', N'18.591.409-7', N'no se pudo', N'jgkguguQ@si', N'Fisico', NULL)
INSERT [dbo].[HISTORIAL_CERTIFICADO] ([ID_Hist], [ID_Cert], [Estado], [Comentario], [Validador_FK], [Fecha_Cambio], [Folio], [Nombre], [RUT], [Direccion], [Email], [Metodo_Pago], [Comprobante_URL]) VALUES (8, NULL, N'Rechazado', N'Rechazado', NULL, CAST(N'2025-10-27T20:31:50.0000000' AS DateTime2), N'C-00008', N'prueba1', N'18.591.409-7', N'dios', N'qs@s', N'Fisico', NULL)
INSERT [dbo].[HISTORIAL_CERTIFICADO] ([ID_Hist], [ID_Cert], [Estado], [Comentario], [Validador_FK], [Fecha_Cambio], [Folio], [Nombre], [RUT], [Direccion], [Email], [Metodo_Pago], [Comprobante_URL]) VALUES (9, 9, N'Pendiente', NULL, NULL, CAST(N'2025-10-27T20:32:15.0000000' AS DateTime2), N'C-00009', N'prueba2', N'18.591.409-7', N'no se', N'sij@a', N'Fisico', NULL)
SET IDENTITY_INSERT [dbo].[HISTORIAL_CERTIFICADO] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTICIA] ON 

SET IDENTITY_INSERT [dbo].[NOTICIA] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID_Rol], [Nombre_Rol]) VALUES (1, N'SOCIO')
INSERT [dbo].[ROL] ([ID_Rol], [Nombre_Rol]) VALUES (2, N'DIRECTIVA')
INSERT [dbo].[ROL] ([ID_Rol], [Nombre_Rol]) VALUES (3, N'ADMIN')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SOCIOS] ON 

INSERT [dbo].[SOCIOS] ([ID_Socio], [ID_Usuario], [RUT], [Nombres], [Apellidos], [Fecha_Nacimiento], [Calle], [Numero_Casa], [Correo], [Telefono], [Fecha_Inscripcion], [Estado_Inscripcion]) VALUES (1, 3, N'19.234.567-8', N'Pedro', N'Muñoz', NULL, N'Los Olivos', N'123', N'pedro@ejemplo.cl', N'+56912345678', CAST(N'2025-10-24T16:59:09.1113801' AS DateTime2), N'Aprobado')
INSERT [dbo].[SOCIOS] ([ID_Socio], [ID_Usuario], [RUT], [Nombres], [Apellidos], [Fecha_Nacimiento], [Calle], [Numero_Casa], [Correo], [Telefono], [Fecha_Inscripcion], [Estado_Inscripcion]) VALUES (2, 4, N'14.386.075-2', N'Cecilia', N'Poblete Aros', CAST(N'1976-09-06' AS Date), N'Costa Tenglo', N'1546', N'cecilia.poblete@gmail.com', N'912345678', CAST(N'2025-11-07T04:06:03.5133333' AS DateTime2), N'Aprobado')
INSERT [dbo].[SOCIOS] ([ID_Socio], [ID_Usuario], [RUT], [Nombres], [Apellidos], [Fecha_Nacimiento], [Calle], [Numero_Casa], [Correo], [Telefono], [Fecha_Inscripcion], [Estado_Inscripcion]) VALUES (3, 2, N'11.222.333-4', N'María', N'Luisa', NULL, N'Alto bonito', N'8888', N'maria@ejemplo.cl', N'9123456', CAST(N'2025-11-07T04:34:11.7687465' AS DateTime2), N'Aprobado')
SET IDENTITY_INSERT [dbo].[SOCIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_Usuario], [Nombre_Usuario], [Correo], [Contrasena], [Tipo_Usuario], [Estado], [Fecha_Creacion], [Ultimo_Login]) VALUES (1, N'Administrador', N'admin@junta.cl', N'$2a$10$VgSMCB0OttGetlK77HraPeZi9rRfiQZTD1tV/Epr12PdqTPYOrg8C', N'ADMIN', N'Activo', CAST(N'2025-10-24T16:59:09.1113801' AS DateTime2), NULL)
INSERT [dbo].[USUARIO] ([ID_Usuario], [Nombre_Usuario], [Correo], [Contrasena], [Tipo_Usuario], [Estado], [Fecha_Creacion], [Ultimo_Login]) VALUES (2, N'María Luisa', N'maria@ejemplo.cl', N'$2a$10$VgSMCB0OttGetlK77HraPeZi9rRfiQZTD1tV/Epr12PdqTPYOrg8C', N'DIRECTIVA', N'Activo', CAST(N'2025-10-24T16:59:09.1113801' AS DateTime2), NULL)
INSERT [dbo].[USUARIO] ([ID_Usuario], [Nombre_Usuario], [Correo], [Contrasena], [Tipo_Usuario], [Estado], [Fecha_Creacion], [Ultimo_Login]) VALUES (3, N'Pedro Muñoz', N'pedro@ejemplo.cl', N'$2a$10$VgSMCB0OttGetlK77HraPeZi9rRfiQZTD1tV/Epr12PdqTPYOrg8C', N'SOCIO', N'Activo', CAST(N'2025-10-24T16:59:09.1113801' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
INSERT [dbo].[USUARIO_ROL] ([ID_Usuario], [ID_Rol]) VALUES (1, 3)
INSERT [dbo].[USUARIO_ROL] ([ID_Usuario], [ID_Rol]) VALUES (2, 1)
INSERT [dbo].[USUARIO_ROL] ([ID_Usuario], [ID_Rol]) VALUES (2, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NOTICIA__32DD1E4CE222A091]    Script Date: 07-11-2025 6:53:46 ******/
ALTER TABLE [dbo].[NOTICIA] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SOCIOS__CAF33258232CCF4B]    Script Date: 07-11-2025 6:53:46 ******/
ALTER TABLE [dbo].[SOCIOS] ADD UNIQUE NONCLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__60695A19EBCF8242]    Script Date: 07-11-2025 6:53:46 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Solicitud]
GO
ALTER TABLE [dbo].[DIRECTIVA] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Fecha_Inicio]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] ADD  CONSTRAINT [DF_HIST_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Cambio]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT (sysdatetime()) FOR [publish_at]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  CONSTRAINT [DF_NOTICIA_tipo]  DEFAULT ('Junta de vecino') FOR [tipo]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Inscripcion]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT ('Pendiente') FOR [Estado_Inscripcion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_SOCIO] FOREIGN KEY([ID_Socio])
REFERENCES [dbo].[SOCIOS] ([ID_Socio])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_SOCIO]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_USUARIO_SOL] FOREIGN KEY([ID_Usuario_Solicita])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_USUARIO_SOL]
GO
ALTER TABLE [dbo].[DIRECTIVA]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_CERT] FOREIGN KEY([ID_Cert])
REFERENCES [dbo].[CERTIFICADO_RESIDENCIA] ([ID_Cert])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_CERT]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_VALIDADOR] FOREIGN KEY([Validador_FK])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_VALIDADOR]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[ROL] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Rol]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Usuario]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_MetodoPago] CHECK  (([Metodo_Pago]='Fisico' OR [Metodo_Pago]='Transferencia'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_MetodoPago]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [CK_HIST_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [CK_HIST_Estado]
GO
ALTER TABLE [dbo].[NOTICIA]  WITH CHECK ADD  CONSTRAINT [CK_NOTICIA_tipo] CHECK  (([tipo]='Junta de vecino' OR [tipo]='Municipalidad'))
GO
ALTER TABLE [dbo].[NOTICIA] CHECK CONSTRAINT [CK_NOTICIA_tipo]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD CHECK  ((upper([Estado_Inscripcion])='RECHAZADO' OR upper([Estado_Inscripcion])='APROBADO' OR upper([Estado_Inscripcion])='PENDIENTE'))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  ((upper([Tipo_Usuario])='SOCIO' OR upper([Tipo_Usuario])='DIRECTIVA' OR upper([Tipo_Usuario])='ADMIN'))
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Create]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Modificar el Stored Procedure de creación para que acepte el nuevo campo
CREATE PROCEDURE [dbo].[spNoticia_Create]
    @titulo NVARCHAR(200),
    @subtitulo NVARCHAR(250),
    @slug NVARCHAR(220),
    @resumen NVARCHAR(800),
    @cuerpo_html NVARCHAR(MAX),
    @imagen_principal NVARCHAR(400),
    @imagen_sec_1 NVARCHAR(400),
    @imagen_sec_2 NVARCHAR(400),
    @publish_at DATETIME2,
    @estado TINYINT,
    @tipo NVARCHAR(50) -- Parámetro añadido
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[NOTICIA] (
        titulo, subtitulo, slug, resumen, cuerpo_html, 
        imagen_principal, imagen_sec_1, imagen_sec_2, 
        publish_at, estado, 
        tipo -- Columna añadida
    )
    VALUES (
        @titulo, @subtitulo, @slug, @resumen, @cuerpo_html, 
        @imagen_principal, @imagen_sec_1, @imagen_sec_2, 
        @publish_at, @estado, 
        @tipo -- Valor añadido
    );
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Delete]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spNoticia_Delete]
  @id INT
AS
BEGIN
  DELETE FROM dbo.NOTICIA WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_SetEstado]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- (por si no los tienes actualizados)
CREATE   PROCEDURE [dbo].[spNoticia_SetEstado]
  @id INT,
  @estado TINYINT
AS
BEGIN
  UPDATE dbo.NOTICIA
    SET estado = @estado, updated_at = SYSDATETIME()
  WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Update]    Script Date: 07-11-2025 6:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNoticia_Update]
  @id INT,
  @titulo NVARCHAR(200),
  @subtitulo NVARCHAR(250),
  @slug NVARCHAR(220),
  @resumen NVARCHAR(500),
  @cuerpo_html NVARCHAR(MAX),
  @imagen_principal NVARCHAR(400),
  @imagen_sec_1 NVARCHAR(400),
  @imagen_sec_2 NVARCHAR(400)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.NOTICIA
  SET titulo = @titulo,
      subtitulo = @subtitulo,
      slug = @slug,
      resumen = @resumen,
      cuerpo_html = @cuerpo_html,
      imagen_principal = @imagen_principal,
      imagen_sec_1 = @imagen_sec_1,
      imagen_sec_2 = @imagen_sec_2
  WHERE id = @id;
END;
GO
USE [master]
GO
