USE [unidad_territorial]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](120) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Tipo_Usuario] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Ultimo_Login] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[ID_Usuario] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UsuarioConRoles]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_UsuarioConRoles] AS
SELECT 
  u.ID_Usuario,
  u.Nombre_Usuario,
  u.Correo,
  COALESCE(STRING_AGG(r.Nombre_Rol, ', '), 'Sin rol') AS Roles_Asignados,
  CASE 
    WHEN COUNT(DISTINCT r.ID_Rol) >= 2 THEN N'MULTI'
    WHEN COUNT(DISTINCT r.ID_Rol) = 1 THEN MIN(r.Nombre_Rol)
    ELSE N'Sin rol'
  END AS Tipo_Usuario_Derivado
FROM dbo.USUARIO u
LEFT JOIN dbo.USUARIO_ROL ur ON ur.ID_Usuario = u.ID_Usuario
LEFT JOIN dbo.ROL r          ON r.ID_Rol     = ur.ID_Rol
GROUP BY u.ID_Usuario, u.Nombre_Usuario, u.Correo;
GO
/****** Object:  Table [dbo].[CERTIFICADO_RESIDENCIA]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERTIFICADO_RESIDENCIA](
	[ID_Cert] [int] IDENTITY(1,1) NOT NULL,
	[Folio]  AS ('C-'+right(replicate('0',(5))+CONVERT([varchar](10),[ID_Cert]),(5))) PERSISTED,
	[ID_Socio] [int] NULL,
	[ID_Usuario_Solicita] [int] NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[RUT] [varchar](12) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](160) NOT NULL,
	[Metodo_Pago] [varchar](20) NOT NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
	[Estado] [varchar](12) NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[Fecha_Solicitud] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTIVA]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTIVA](
	[ID_Directiva] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Cargo] [nvarchar](40) NOT NULL,
	[Descripcion] [nvarchar](180) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Fin] [date] NULL,
	[Activo]  AS (case when [Fecha_Fin] IS NULL OR [Fecha_Fin]>=CONVERT([date],getdate()) then (1) else (0) end),
PRIMARY KEY CLUSTERED 
(
	[ID_Directiva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_CERTIFICADO]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_CERTIFICADO](
	[ID_Hist] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cert] [int] NULL,
	[Estado] [varchar](12) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[Validador_FK] [int] NULL,
	[Fecha_Cambio] [datetime2](0) NOT NULL,
	[Folio] [varchar](20) NULL,
	[Nombre] [nvarchar](120) NULL,
	[RUT] [varchar](12) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Email] [nvarchar](160) NULL,
	[Metodo_Pago] [varchar](20) NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Hist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 02-11-2025 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[ID_Socio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[RUT] [nvarchar](20) NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Calle] [nvarchar](120) NULL,
	[Numero_Casa] [nvarchar](20) NULL,
	[Correo] [nvarchar](120) NULL,
	[Telefono] [nvarchar](30) NULL,
	[Fecha_Inscripcion] [datetime2](7) NULL,
	[Estado_Inscripcion] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Solicitud]
GO
ALTER TABLE [dbo].[DIRECTIVA] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Fecha_Inicio]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] ADD  CONSTRAINT [DF_HIST_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Cambio]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Inscripcion]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT ('Pendiente') FOR [Estado_Inscripcion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_SOCIO] FOREIGN KEY([ID_Socio])
REFERENCES [dbo].[SOCIOS] ([ID_Socio])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_SOCIO]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_USUARIO_SOL] FOREIGN KEY([ID_Usuario_Solicita])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_USUARIO_SOL]
GO
ALTER TABLE [dbo].[DIRECTIVA]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_CERT] FOREIGN KEY([ID_Cert])
REFERENCES [dbo].[CERTIFICADO_RESIDENCIA] ([ID_Cert])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_CERT]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_VALIDADOR] FOREIGN KEY([Validador_FK])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_VALIDADOR]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[ROL] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Rol]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Usuario]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_MetodoPago] CHECK  (([Metodo_Pago]='Fisico' OR [Metodo_Pago]='Transferencia'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_MetodoPago]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [CK_HIST_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [CK_HIST_Estado]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD CHECK  ((upper([Estado_Inscripcion])='RECHAZADO' OR upper([Estado_Inscripcion])='APROBADO' OR upper([Estado_Inscripcion])='PENDIENTE'))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  ((upper([Tipo_Usuario])='SOCIO' OR upper([Tipo_Usuario])='DIRECTIVA' OR upper([Tipo_Usuario])='ADMIN'))
GO
