USE [master]
GO
/****** Object:  Database [unidad_territorial]    Script Date: 04-11-2025 23:24:48 ******/
CREATE DATABASE [unidad_territorial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'unidad_territorial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\unidad_territorial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'unidad_territorial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\unidad_territorial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [unidad_territorial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [unidad_territorial]
GO
USE [unidad_territorial]
GO
/****** Object:  Sequence [dbo].[SEQ_REQS]    Script Date: 04-11-2025 23:24:48 ******/
CREATE SEQUENCE [dbo].[SEQ_REQS] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[HISTORIAL_REQUERIMIENTOS]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_REQUERIMIENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLIO] [varchar](20) NOT NULL,
	[PERFIL_RUT] [nvarchar](20) NOT NULL,
	[NOMBRE_SOLICITANTE] [nvarchar](120) NULL,
	[EMAIL_SOLICITANTE] [nvarchar](120) NULL,
	[ASUNTO] [nvarchar](120) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ESTADO] [nvarchar](20) NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
	[VALIDADOR_NOMBRE] [nvarchar](120) NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[IMAGEN_URL] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Historial_Requerimientos_UI]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   5) Vista para API/UI (no expone RUT del actor, solo nombre)
   ============================================================ */
CREATE VIEW [dbo].[v_Historial_Requerimientos_UI] AS
SELECT
  id,
  folio,
  accion,
  detalle,
  rut_socio,
  actor_nombre,   -- 👈 solo nombre de quien hizo la acción
  ts
FROM dbo.Historial_Requerimientos;
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](120) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Tipo_Usuario] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Ultimo_Login] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[ID_Usuario] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UsuarioConRoles]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_UsuarioConRoles] AS
SELECT 
  u.ID_Usuario,
  u.Nombre_Usuario,
  u.Correo,
  COALESCE(STRING_AGG(r.Nombre_Rol, ', '), 'Sin rol') AS Roles_Asignados,
  CASE 
    WHEN COUNT(DISTINCT r.ID_Rol) >= 2 THEN N'MULTI'
    WHEN COUNT(DISTINCT r.ID_Rol) = 1 THEN MIN(r.Nombre_Rol)
    ELSE N'Sin rol'
  END AS Tipo_Usuario_Derivado
FROM dbo.USUARIO u
LEFT JOIN dbo.USUARIO_ROL ur ON ur.ID_Usuario = u.ID_Usuario
LEFT JOIN dbo.ROL r          ON r.ID_Rol     = ur.ID_Rol
GROUP BY u.ID_Usuario, u.Nombre_Usuario, u.Correo;
GO
/****** Object:  Table [dbo].[NOTICIA]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICIA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[subtitulo] [nvarchar](250) NULL,
	[slug] [nvarchar](220) NOT NULL,
	[resumen] [nvarchar](800) NULL,
	[cuerpo_html] [nvarchar](max) NOT NULL,
	[imagen_principal] [nvarchar](400) NOT NULL,
	[imagen_sec_1] [nvarchar](400) NULL,
	[imagen_sec_2] [nvarchar](400) NULL,
	[estado] [tinyint] NOT NULL,
	[publish_at] [datetime2](0) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_NoticiasPublicadas]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_NoticiasPublicadas] AS
SELECT
  id, titulo, subtitulo, slug, resumen, cuerpo_html,
  imagen_principal, imagen_sec_1, imagen_sec_2,
  publish_at, created_at, updated_at, estado
FROM dbo.NOTICIA
WHERE estado = 1;
GO
/****** Object:  View [dbo].[vw_NoticiasHistorial]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_NoticiasHistorial] AS
SELECT
  id, titulo, subtitulo, slug, resumen, cuerpo_html,
  imagen_principal, imagen_sec_1, imagen_sec_2,
  publish_at, created_at, updated_at, estado
FROM dbo.NOTICIA;
GO
/****** Object:  View [dbo].[vw_HistorialRequerimientos]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HistorialRequerimientos]
AS
SELECT
  h.Folio,
  r.Nombre_Solicitante AS Nombre,
  r.Tipo,
  h.Estado,
  h.Comentario,
  h.Actor_ID,
  h.Fecha_Cambio AS ts
FROM dbo.HISTORIAL_REQUERIMIENTO h
JOIN dbo.REQUERIMIENTO r ON r.ID_Req = h.ID_Req;
GO
/****** Object:  View [dbo].[vw_RequerimientosPendientes]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RequerimientosPendientes]
AS
SELECT
  r.ID_Req,
  r.Folio,
  r.Nombre_Solicitante AS Nombre,
  r.Tipo,
  r.Estado,
  r.Fecha_Solicitud,
  r.Telefono,
  r.Direccion,
  r.Comentario_Solicitante AS Detalle,
  r.Img_URL
FROM dbo.REQUERIMIENTO r
WHERE r.Estado = N'Pendiente';
GO
/****** Object:  Table [dbo].[CERTIFICADO_RESIDENCIA]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERTIFICADO_RESIDENCIA](
	[ID_Cert] [int] IDENTITY(1,1) NOT NULL,
	[Folio]  AS ('C-'+right(replicate('0',(5))+CONVERT([varchar](10),[ID_Cert]),(5))) PERSISTED,
	[ID_Socio] [int] NULL,
	[ID_Usuario_Solicita] [int] NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[RUT] [varchar](12) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](160) NOT NULL,
	[Metodo_Pago] [varchar](20) NOT NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
	[Estado] [varchar](12) NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[Fecha_Solicitud] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTIVA]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTIVA](
	[ID_Directiva] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Cargo] [nvarchar](40) NOT NULL,
	[Descripcion] [nvarchar](180) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Fin] [date] NULL,
	[Activo]  AS (case when [Fecha_Fin] IS NULL OR [Fecha_Fin]>=CONVERT([date],getdate()) then (1) else (0) end),
PRIMARY KEY CLUSTERED 
(
	[ID_Directiva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_CERTIFICADO]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_CERTIFICADO](
	[ID_Hist] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cert] [int] NULL,
	[Estado] [varchar](12) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[Validador_FK] [int] NULL,
	[Fecha_Cambio] [datetime2](0) NOT NULL,
	[Folio] [varchar](20) NULL,
	[Nombre] [nvarchar](120) NULL,
	[RUT] [varchar](12) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Email] [nvarchar](160) NULL,
	[Metodo_Pago] [varchar](20) NULL,
	[Comprobante_URL] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Hist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUERIMIENTOS]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUERIMIENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLIO] [varchar](20) NOT NULL,
	[PERFIL_RUT] [nvarchar](20) NOT NULL,
	[NOMBRE_SOLICITANTE] [nvarchar](120) NULL,
	[EMAIL_SOLICITANTE] [nvarchar](120) NULL,
	[ASUNTO] [nvarchar](120) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ESTADO] [nvarchar](20) NOT NULL,
	[ACTOR_NOMBRE] [nvarchar](120) NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[IMAGEN_URL] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[ID_Socio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[RUT] [nvarchar](20) NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Calle] [nvarchar](120) NULL,
	[Numero_Casa] [nvarchar](20) NULL,
	[Correo] [nvarchar](120) NULL,
	[Telefono] [nvarchar](30) NULL,
	[Fecha_Inscripcion] [datetime2](7) NULL,
	[Estado_Inscripcion] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CERT_Estado_Fecha]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_CERT_Estado_Fecha] ON [dbo].[CERTIFICADO_RESIDENCIA]
(
	[Estado] ASC,
	[Fecha_Solicitud] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_CERT_Folio]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_CERT_Folio] ON [dbo].[CERTIFICADO_RESIDENCIA]
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HIST_Cert_Fecha]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_HIST_Cert_Fecha] ON [dbo].[HISTORIAL_CERTIFICADO]
(
	[ID_Cert] ASC,
	[Fecha_Cambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HISTORIAL_ESTADO]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_HISTORIAL_ESTADO] ON [dbo].[HISTORIAL_REQUERIMIENTOS]
(
	[ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_REQUERIMIENTOS_ESTADO]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_REQUERIMIENTOS_ESTADO] ON [dbo].[REQUERIMIENTOS]
(
	[ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_ROL_rol]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_ROL_rol] ON [dbo].[USUARIO_ROL]
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_ROL_usuario]    Script Date: 04-11-2025 23:24:48 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_ROL_usuario] ON [dbo].[USUARIO_ROL]
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] ADD  CONSTRAINT [DF_CERT_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Solicitud]
GO
ALTER TABLE [dbo].[DIRECTIVA] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Fecha_Inicio]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] ADD  CONSTRAINT [DF_HIST_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Cambio]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT (sysdatetime()) FOR [publish_at]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[REQUERIMIENTOS] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Inscripcion]
GO
ALTER TABLE [dbo].[SOCIOS] ADD  DEFAULT ('Pendiente') FOR [Estado_Inscripcion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (sysdatetime()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_SOCIO] FOREIGN KEY([ID_Socio])
REFERENCES [dbo].[SOCIOS] ([ID_Socio])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_SOCIO]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CERT_USUARIO_SOL] FOREIGN KEY([ID_Usuario_Solicita])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [FK_CERT_USUARIO_SOL]
GO
ALTER TABLE [dbo].[DIRECTIVA]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_CERT] FOREIGN KEY([ID_Cert])
REFERENCES [dbo].[CERTIFICADO_RESIDENCIA] ([ID_Cert])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_CERT]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [FK_HIST_VALIDADOR] FOREIGN KEY([Validador_FK])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [FK_HIST_VALIDADOR]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[ROL] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Rol]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UR_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UR_Usuario]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_Estado]
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [CK_CERT_MetodoPago] CHECK  (([Metodo_Pago]='Fisico' OR [Metodo_Pago]='Transferencia'))
GO
ALTER TABLE [dbo].[CERTIFICADO_RESIDENCIA] CHECK CONSTRAINT [CK_CERT_MetodoPago]
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO]  WITH CHECK ADD  CONSTRAINT [CK_HIST_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='EnRevision' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[HISTORIAL_CERTIFICADO] CHECK CONSTRAINT [CK_HIST_Estado]
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD CHECK  ((upper([Estado_Inscripcion])='RECHAZADO' OR upper([Estado_Inscripcion])='APROBADO' OR upper([Estado_Inscripcion])='PENDIENTE'))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  ((upper([Tipo_Usuario])='SOCIO' OR upper([Tipo_Usuario])='DIRECTIVA' OR upper([Tipo_Usuario])='ADMIN'))
GO
/****** Object:  StoredProcedure [dbo].[SP_REQ_CREATE]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   4) SP: CREAR REQUERIMIENTO (estado PENDIENTE)
   - Genera FOLIO R000001, R000002, ...
   - Inserta en REQUERIMIENTOS; trigger clona/actualiza HISTORIAL
   ============================================================ */
CREATE PROCEDURE [dbo].[SP_REQ_CREATE]
  @RUT_SOCIO           NVARCHAR(20),
  @PERFIL_NOMBRE       NVARCHAR(120),
  @PERFIL_RUT          NVARCHAR(20),
  @NOMBRE_SOLICITANTE  NVARCHAR(120) = NULL,
  @EMAIL_SOLICITANTE   NVARCHAR(120) = NULL,
  @ASUNTO              NVARCHAR(120),
  @DESCRIPCION         NVARCHAR(MAX) = NULL,
  @PRIORIDAD           NVARCHAR(20) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @N INT = NEXT VALUE FOR DBO.SEQ_REQS;
  DECLARE @FOLIO VARCHAR(20) = 'R' + RIGHT(REPLICATE('0',6) + CAST(@N AS VARCHAR(6)), 6);

  INSERT INTO DBO.REQUERIMIENTOS
    (FOLIO, RUT_SOCIO, PERFIL_NOMBRE, PERFIL_RUT, NOMBRE_SOLICITANTE, EMAIL_SOLICITANTE,
     ASUNTO, DESCRIPCION, PRIORIDAD, ESTADO, ACTOR_NOMBRE)
  VALUES
    (@FOLIO, @RUT_SOCIO, @PERFIL_NOMBRE, @PERFIL_RUT, @NOMBRE_SOLICITANTE, @EMAIL_SOLICITANTE,
     @ASUNTO, @DESCRIPCION, @PRIORIDAD, 'pendiente', NULL);

  SELECT @FOLIO AS FOLIO;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REQ_DECIDIR]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   5) SP: DECIDIR (APROBAR/RECHAZAR)
   - Actualiza SOLO ACTOR_NOMBRE y ESTADO en HISTORIAL
   - Borra el espejo de REQUERIMIENTOS (queda solo historial)
   ============================================================ */
CREATE PROCEDURE [dbo].[SP_REQ_DECIDIR]
  @FOLIO        VARCHAR(20),
  @NUEVO_ESTADO NVARCHAR(20),       -- 'aprobado' | 'rechazado'
  @ACTOR_NOMBRE NVARCHAR(120),      -- SOLO nombre de quien decide
  @DETALLE      NVARCHAR(500) = NULL -- reservado (por si luego agregas una tabla de logs)
AS
BEGIN
  SET NOCOUNT ON;

  IF (@NUEVO_ESTADO NOT IN ('aprobado','rechazado'))
  BEGIN
    RAISERROR('Estado no válido. Use ''aprobado'' o ''rechazado''.',16,1);
    RETURN;
  END

  BEGIN TRY
    BEGIN TRAN;

      -- Verificar existencia en operativa
      IF NOT EXISTS (SELECT 1 FROM DBO.REQUERIMIENTOS WHERE FOLIO = @FOLIO)
      BEGIN
        RAISERROR('Folio no encontrado o ya decidido.',16,1);
        ROLLBACK TRAN;
        RETURN;
      END

      -- Actualizar fila espejo en HISTORIAL
      UPDATE DBO.HISTORIAL_REQUERIMIENTOS
      SET ESTADO       = @NUEVO_ESTADO,
          ACTOR_NOMBRE = @ACTOR_NOMBRE,
          UPDATED_AT   = SYSDATETIME()
      WHERE FOLIO = @FOLIO;

      -- Eliminar de operativa
      DELETE FROM DBO.REQUERIMIENTOS WHERE FOLIO = @FOLIO;

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @MSG NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@MSG,16,1);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REQ_DELETE_BY_FOLIO]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   6) SP: DELETE opcional por FOLIO
   - Borra de operativa y, si pides, también de historial
   ============================================================ */
CREATE PROCEDURE [dbo].[SP_REQ_DELETE_BY_FOLIO]
  @FOLIO VARCHAR(20),
  @BORRAR_HISTORIAL BIT = 0
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;
      DELETE FROM DBO.REQUERIMIENTOS WHERE FOLIO = @FOLIO;
      IF (@BORRAR_HISTORIAL = 1)
        DELETE FROM DBO.HISTORIAL_REQUERIMIENTOS WHERE FOLIO = @FOLIO;
    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @MSG NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@MSG,16,1);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_req_set_estado]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.2 Decidir (aprobar/rechazar) guardando SOLO el nombre del actor en historial y moviendo a histórico
CREATE PROCEDURE [dbo].[sp_req_set_estado]
  @folio         VARCHAR(20),
  @nuevo_estado  NVARCHAR(20),           -- 'aprobado' | 'rechazado'
  @actor_nombre  NVARCHAR(120),          -- SOLO nombre del directivo que decide
  @detalle       NVARCHAR(500) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  IF (@nuevo_estado NOT IN ('aprobado','rechazado'))
  BEGIN
    RAISERROR('Estado no válido. Use ''aprobado'' o ''rechazado''.',16,1);
    RETURN;
  END

  BEGIN TRY
    BEGIN TRAN;

      -- Verificamos que exista el pendiente
      IF NOT EXISTS (SELECT 1 FROM dbo.Requerimientos WHERE folio = @folio)
      BEGIN
        RAISERROR('Folio no encontrado o ya decidido.',16,1);
        ROLLBACK TRAN;
        RETURN;
      END

      -- Insertar línea terminal en historial con SOLO nombre del actor
      INSERT INTO dbo.Historial_Requerimientos (folio, accion, detalle, rut_socio, actor_nombre)
      SELECT r.folio,
             @nuevo_estado,
             ISNULL(@detalle, CONCAT('decisión: ', @nuevo_estado)),
             r.rut_socio,
             @actor_nombre
      FROM dbo.Requerimientos r
      WHERE r.folio = @folio;

      -- Eliminar de operativa: queda SOLO en historial
      DELETE FROM dbo.Requerimientos WHERE folio = @folio;

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@msg,16,1);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Create]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear/actualizar el SP para que reciba EXACTAMENTE lo que manda el backend
CREATE   PROCEDURE [dbo].[spNoticia_Create]
  @titulo           NVARCHAR(200),
  @subtitulo        NVARCHAR(250) = NULL,
  @slug             NVARCHAR(220),
  @resumen          NVARCHAR(800) = NULL,
  @cuerpo_html      NVARCHAR(MAX),
  @imagen_principal NVARCHAR(400) = NULL,
  @imagen_sec_1     NVARCHAR(400) = NULL,
  @imagen_sec_2     NVARCHAR(400) = NULL,
  @publish_at       DATETIME2     = NULL,
  @estado           TINYINT       = 1
AS
BEGIN
  SET NOCOUNT ON;

  IF @publish_at IS NULL SET @publish_at = SYSDATETIME();

  INSERT INTO dbo.NOTICIA
    (titulo, subtitulo, slug, resumen, cuerpo_html,
     imagen_principal, imagen_sec_1, imagen_sec_2,
     publish_at, estado, created_at, updated_at)
  VALUES
    (@titulo, @subtitulo, @slug, @resumen, @cuerpo_html,
     @imagen_principal, @imagen_sec_1, @imagen_sec_2,
     @publish_at, @estado, SYSDATETIME(), NULL);

  SELECT CAST(SCOPE_IDENTITY() AS INT) AS id;
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Delete]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spNoticia_Delete]
  @id INT
AS
BEGIN
  DELETE FROM dbo.NOTICIA WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_SetEstado]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- (por si no los tienes actualizados)
CREATE   PROCEDURE [dbo].[spNoticia_SetEstado]
  @id INT,
  @estado TINYINT
AS
BEGIN
  UPDATE dbo.NOTICIA
    SET estado = @estado, updated_at = SYSDATETIME()
  WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[spNoticia_Update]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNoticia_Update]
  @id INT,
  @titulo NVARCHAR(200),
  @subtitulo NVARCHAR(250),
  @slug NVARCHAR(220),
  @resumen NVARCHAR(500),
  @cuerpo_html NVARCHAR(MAX),
  @imagen_principal NVARCHAR(400),
  @imagen_sec_1 NVARCHAR(400),
  @imagen_sec_2 NVARCHAR(400)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.NOTICIA
  SET titulo = @titulo,
      subtitulo = @subtitulo,
      slug = @slug,
      resumen = @resumen,
      cuerpo_html = @cuerpo_html,
      imagen_principal = @imagen_principal,
      imagen_sec_1 = @imagen_sec_1,
      imagen_sec_2 = @imagen_sec_2
  WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Requerimiento_CambiarEstado]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Requerimiento_CambiarEstado]
  @Folio       NVARCHAR(10),
  @Estado      NVARCHAR(10),          -- Aceptado|Rechazado|Pendiente
  @Comentario  NVARCHAR(400) = NULL,
  @Actor_ID    INT           = NULL
AS
BEGIN
  SET NOCOUNT ON;

  IF @Estado NOT IN (N'Pendiente',N'Aceptado',N'Rechazado')
  BEGIN RAISERROR('Estado inválido.',16,1); RETURN; END

  DECLARE @ID_Req INT = (SELECT ID_Req FROM dbo.REQUERIMIENTO WHERE Folio=@Folio);
  IF @ID_Req IS NULL
  BEGIN RAISERROR('Folio no encontrado.',16,1); RETURN; END

  UPDATE dbo.REQUERIMIENTO
     SET Estado=@Estado,
         Ultimo_Actor_ID=@Actor_ID,
         Fecha_Cambio=SYSUTCDATETIME()
   WHERE ID_Req=@ID_Req;

  INSERT INTO dbo.HISTORIAL_REQUERIMIENTO (ID_Req,Folio,Estado,Comentario,Actor_ID)
  VALUES (@ID_Req,@Folio,@Estado,ISNULL(@Comentario,@Estado),@Actor_ID);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Requerimiento_Crear]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Requerimiento_Crear]
  @Nombre_Solicitante     NVARCHAR(120),
  @Email                  NVARCHAR(150) = NULL,
  @Telefono               NVARCHAR(30)  = NULL,
  @Tipo                   NVARCHAR(40),
  @Direccion              NVARCHAR(180) = NULL,
  @Comentario_Solicitante NVARCHAR(MAX),
  @Img_URL                NVARCHAR(400) = NULL,
  @Img_Ext                NVARCHAR(10)  = NULL,
  @Img_Bytes              BIGINT        = NULL,
  @Creado_Por             INT           = NULL
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO dbo.REQUERIMIENTO
  (Nombre_Solicitante,Email,Telefono,Tipo,Direccion,Comentario_Solicitante,
   Estado,Img_URL,Img_Ext,Img_Bytes,Creado_Por,Ultimo_Actor_ID)
  VALUES
  (@Nombre_Solicitante,@Email,@Telefono,@Tipo,@Direccion,@Comentario_Solicitante,
   N'Pendiente',@Img_URL,@Img_Ext,@Img_Bytes,@Creado_Por,NULL);

  DECLARE @ID_Req INT = SCOPE_IDENTITY();
  DECLARE @Folio  NVARCHAR(10) = (SELECT Folio FROM dbo.REQUERIMIENTO WHERE ID_Req=@ID_Req);

  INSERT INTO dbo.HISTORIAL_REQUERIMIENTO (ID_Req,Folio,Estado,Comentario,Actor_ID)
  VALUES (@ID_Req,@Folio,N'Pendiente',N'Requerimiento creado',@Creado_Por);

  SELECT @ID_Req AS ID_Req, @Folio AS Folio;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Requerimiento_EliminarPorFolio]    Script Date: 04-11-2025 23:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Requerimiento_EliminarPorFolio]
  @Folio NVARCHAR(10)
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @ID_Req INT = (SELECT ID_Req FROM dbo.REQUERIMIENTO WHERE Folio=@Folio);
  IF @ID_Req IS NULL BEGIN RAISERROR('Folio no encontrado.',16,1); RETURN; END
  DELETE FROM dbo.REQUERIMIENTO WHERE ID_Req=@ID_Req;  -- historial cae por CASCADE
END
GO
USE [master]
GO
